body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #e77878;
}

body::-webkit-scrollbar-track {
    background: #b8b0b0;
}

::selection {
    background: #4560F060;
}

html {
    display: block;
}

:root {
    --para-color: #6B7C95;
    --bg-color: #191919;
    --h-color: #fff;
}

p {
    color: var(--para-color);
}

body {
    background: var(--bg-color);
}

h3 {
    color: var(--h-color);
}

h3 {
    color: var(--h-color);
}

h2 {
    color: var(--h-color);
}

nav {
    background: var(--bg-color);
}

.td-dark {
    color: var(--h-color);
}

h4 {
    color: var(--h-color);   
}

.item-1 {
    max-width: 100%;
    width: 295px;
}

.t2 {
    color: var(--para-color);
}